@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/styles/leaflet")
@Scripts.Render("~/bundles/leaflet")

<div id="map" class="container-div">

</div>

<script>
	var map = L.map('map').setView([56.8382, 60.6035], 13);

	L.tileLayer('http://{s}.tile.osm.kosmosnimki.ru/kosmo/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://kosmosnimki.ru/">Scanex</a>| &copy <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

</script>