@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/styles/leaflet")
@Scripts.Render("~/bundles/leaflet")

<div id="map" class="container-div">

</div>

<script>
	//создадим карту и зададим ей позицию
	var map = L.map('map').setView([56.8382, 60.6035], 13);
	//добавим на карту растровый слой из тайлов
	//в данном случае это будет стандартная карта OpenStreetMap
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

</script>